# Data Sources

The data comes from 4 different sources which are real-time telemetry data collected from machines, error messages, historical maintenance records that include failures and machine information such as type and age.

In [3]:
import pandas as pd

telemetry = pd.read_csv('data\PdM_telemetry.csv')
errors = pd.read_csv('data\PdM_errors.csv')
maint = pd.read_csv('data\PdM_maint.csv')
failures = pd.read_csv('data\PdM_failures.csv')
machines = pd.read_csv('data\PdM_machines.csv')

In [4]:
# formating datatime which comes as string 

telemetry['datetime'] = pd.to_datetime(telemetry['datetime'], format="%Y-%m-%d %H:%M:%S")
print('Total number of telemetry records: %d' % len(telemetry.index))
print(telemetry.head())
telemetry.describe()

Total number of telemetry records: 876100
             datetime  machineID        volt      rotate    pressure  \
0 2015-01-01 06:00:00          1  176.217853  418.504078  113.077935
1 2015-01-01 07:00:00          1  162.879223  402.747490   95.460525
2 2015-01-01 08:00:00          1  170.989902  527.349825   75.237905
3 2015-01-01 09:00:00          1  162.462833  346.149335  109.248561
4 2015-01-01 10:00:00          1  157.610021  435.376873  111.886648

   vibration
0  45.087686
1  43.413973
2  34.178847
3  41.122144
4  25.990511

,machineID,volt,rotate,pressure,vibration
count,876100.000000,876100.000000,876100.000000,876100.000000,876100.000000
mean,50.500000,170.777736,446.605119,100.858668,40.385007
std,28.866087,15.509114,52.673886,11.048679,5.370361
min,1.000000,97.333604,138.432075,51.237106,14.877054
25%,25.750000,160.304927,412.305714,93.498181,36.777299
50%,50.500000,170.607338,447.558150,100.425559,40.237247
75%,75.250000,181.004493,482.176600,107.555231,43.784938
max,100.000000,255.124717,695.020984,185.951998,76.791072

# Telemetry

The first data source is the telemetry time-series data which consists of voltage, rotation, pressure, and vibration measurements collected from 100 machines in real time averaged over every hour collected during the year 2015. Below, we display the first 10 records in the dataset. A summary of the whole dataset is also provided.